body, html {
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8em;
    color: #666;
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8 {
    position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image1 {
    background-image: url(./images/map.jpg);
    min-height: 100%;
}

.image2 {
    background-image: url(./images/vijaygarhfort.jpg);
    min-height: 100%;
}

.image3 {
    background-image: url(./images/naugarhfort.jpeg);
    min-height: 100%;
}

.image4 {
    background-image: url(./images/rihanddam.jpg);
    min-height: 100%;
}

.image5 {
    background-image: url(./images/agorifort.jpg);
    min-height: 100%;
}

.image6 {
    background-image: url(./images/mukhafalls.jpg);
    min-height: 100%;
}

.image7 {
    background-image: url(./images/chandraprabhawildlifesanctuary.jpg);
    min-height: 100%;
}

.image8 {
    background-image: url(./images/salkhanfossilpark.jpg);
    min-height: 100%;
}

section {
    text-align: center;
    padding: 5rem;
}

.section-light {
    background-color: #f4f4f4;
}

.section-dark {
    background-color: #282e34;
    color: #fff;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.span-area {
    background-color: #111;
    color: #fff;
    padding: 1.25rem;
}

.trans {
    background-color: transparent;
}